/* styles.css */

.container {
    display: flex;
    flex-direction: column; /* Ändern Sie die Hauptachse auf Spaltenrichtung */
    width: 300px;
    background-color: #333; /
    padding-bottom: 10px;
    font-size: 16px;
    width: 320px;
    border-top: 10px;
    border-top-width: 0px;
    border-top-style: solid;
    height: 90px;
    padding-top: 10px;
}

.info-panel {
    display: flex;
    #flex-wrap: wrap; /* Erlauben, dass Elemente umgebrochen werden */
    #height: 40px; 
    width: 310px;
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    padding-left: 15px;
}

.info-group {
    margin-right: 20px; /* Abstand zwischen den Info-Gruppen */
}
.sidebar {
    flex: 1;
    overflow-y: scroll;
    background-color: #333; /* Graue Hintergrundfarbe für die Sidebar */
    padding: 10px; /* Innenabstand hinzufügen */
    width: 300px;
    height: 670px; 
    margin-top: 2px;
    margin-bottom: 5px;
}
   /* Setze die Schriftfarbe in .info-group und .sidebar auf Weiß */
.info-group, .sidebar {
    color: #ffffff; /* Weiß */
}


.button-row {
    display: flex;
    gap: 10px; /* Fügen Sie einen kleinen Abstand zwischen den Schaltflächen hinzu */
    margin-top: 10px; /* Abstand zum Info-Panel */
    padding-bottom: 10px;
    padding-left: 15px;
}

button {
    background-color: #007bff; /* Hintergrundfarbe */
    color: #fff; /* Textfarbe */
    padding: 10px 20px; /* Innenabstand */
    border: none; /* Kein Rand */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeiger beim Überfahren */
}

button:hover {
    background-color: #0056b3; /* Hintergrundfarbe beim Überfahren */
}
.sidebar img {
    margin-right: 10px; /* Abstand zwischen Bild und Text */
}

#sidebar-list {
    list-style-type: none;
    padding: 0;
    height: 610px;
}

#sidebar-list li {
    margin-bottom: 5px;
    padding-left: 5px;
}

@media screen and (min-device-pixel-ratio: 2) {
  /* Deine CSS-Regeln für Geräte mit hoher Pixeldichte */
}
