/* Hauptcontainer und Layoutdefinitionen */
.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #333;
    padding: 10px 0; /* vereinfacht */
    font-size: 16px;
    border-top: 10px solid transparent;
    height: 90px;
}

/* Style für die Info-Panels im Container */
.info-panel {
    display: flex;
    width: 310px;
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    padding-left: 15px;
}

.info-group {
    margin-right: 20px;
    color: #ffffff; /* Schriftfarbe auf Weiß setzen */
}

/* Button-Reihe im Container */
.button-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Sidebar-Stildefinitionen */
.sidebar {
    overflow-y: auto;
    background-color: #333;
    padding: 10px;
    width: 300px;
    height: 740px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.sidebar img {
    flex-shrink: 0; /* Verhindert, dass das Bild skaliert wird */
    margin-right: 10px; /* Abstand zwischen Bild und Text */
    width: 40px; /* Feste Breite des Bildes */
    height: 30px; /* Feste Höhe des Bildes */
    object-fit: contain; /* Stellt sicher, dass der Inhalt des Bildes vollständig in den Rahmen passt, ohne verzerrt zu werden */
    overflow: hidden; /* Schneidet Teile des Bildes ab, die über die angegebenen Grenzen hinausgehen könnten */
}

#sidebar-list {
    list-style-type: none;
    padding: 0;
    height: 670px;
}

#sidebar-list li {
    margin-bottom: 5px;
    padding-left: 5px;
}

/* Stile für Senderinformationen in der Sidebar */
.channel-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.sender-name {
    font-size: 22px;
    white-space: nowrap; /* Verhindert den Zeilenumbruch */
    overflow: hidden; /* Versteckt überflüssigen Text */
    text-overflow: ellipsis; /* Zeigt Ellipsen, wenn der Text abgeschnitten wird */
    font-weight: 600;
    color: #ffffff;
    max-width: 150px; /* Maximale Breite, passen Sie nach Bedarf an */
    flex-grow: 0; /* Verhindert, dass der Sendernamen wächst */
    flex-shrink: 0; /* Verhindert, dass der Sendernamen schrumpft */
}
.epg-channel {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Maximale Breite, passen Sie nach Bedarf an */
}
/* Media Queries für hohe Pixeldichte (bei Bedarf weitere Stile hinzufügen) */
@media screen and (min-device-pixel-ratio: 2) {
    /* Beispielsweise Bildschärfe für Icons verbessern */
}
