/* styles.css */

.container {
    display: flex;
}

.info-panel {
    width: 300px;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.sidebar {
    flex: 1;
    overflow-y: scroll;
}

button {
    display: block;
    margin-bottom: 10px;
}
.sidebar img {
    margin-right: 10px; /* Abstand zwischen Bild und Text */
}
#sidebar-list {
    list-style-type: none;
    padding: 0;
}

#sidebar-list li {
    margin-bottom: 5px;
}

@media screen and (min-device-pixel-ratio: 2) {
  /* Deine CSS-Regeln für Geräte mit hoher Pixeldichte */
}
